services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: docker-chatbot
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
